<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.tcc.blood_friend">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_app_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Blood_Friend">
        <activity
            android:name=".EditPerfil"
            android:exported="false" />
        <activity
            android:name=".Cadastro.CadastroReceptor"
            android:exported="false" />
        <activity
            android:name=".Cadastro.CadastroDoador"
            android:exported="false" />
        <activity
            android:name=".Cadastro.CadastroEtapa01"
            android:exported="false" />
        <activity
            android:name=".Chat"
            android:exported="false">
        </activity>
        <activity
            android:name=".Cadastro.CadastroGoogle"
            android:exported="false" />
        <activity
            android:name=".Principal"
            android:exported="false" />
        <activity
            android:name=".Perfil"
            android:exported="false" />
        <activity
            android:name=".Cadastro.Cadastrar"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".Inicial"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>